* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
  font-family: Montserrat;
}

main {
  display: flex;
  flex-direction: column;
}

main > section:nth-child(1) {
  margin: 0 0.5em;
}

p {
  margin: 2px;
  padding: 2px;
}

main > section:nth-child(2) {
  margin: 0;
  flex: 1;
}

.adslot_1 {
  width: 320px;
  height: 50px;
  overflow: hidden;
}

@media (min-width: 400px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .adslot_1 {
    width: 234px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 14px; 
  }

  .adslot_1 {
    width: 300px;
    height: 250px;
  }
}

output {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

output span {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  background-color: #3498db;
}

output span.ball {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  align-self: center;
}

output span.bar {
  flex: 1;
  align-self: flex-end;
}

output span.test {
  background-color: #e74c3c;
}

output span.swap {
  background-color: #27ae60;
}

label {
  display: block;
}

input, select {
  padding: 2px;
  width: 100%;
  margin: 0;
}

